.usersPage{
    padding:10px 30px;
    font-family: 'Ubuntu', sans-serif;
}
.usersPage h2{
    font-size: 30px;
    color: black;
    letter-spacing: 2px;
}
.usersPage .crudBtn{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.usersPage .crudBtn .add{
    margin-top: 10px;
    width: min-content;
}
.usersPage .crudBtn .add a{
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 138, 0);
    padding: 5px 20px;
    transition-duration: 0.2s;
}
.usersPage .crudBtn .add a:hover{
    background-color: rgb(0, 206, 0);
}
.usersPage .crudBtn .add hr{
    margin: 10px 0px;
    border-radius: 10px;
}
.usersPage .crudBtn .search form{
    display: flex;
    margin: 0;
    padding: 5px;
    background-color: transparent;
}
.usersPage .crudBtn .search form input{
    margin-right: 5px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}
.usersPage .crudBtn .search form input[Type=text]{
    width: 150px;
}
.usersPage .crudBtn .search form input[Type=submit]{
    color: white;
    background-color: blueviolet;
    border: none;
    margin: 0;
}
.usersPage .crudBtn .search form input[Type=submit]:hover{
    background-color: rgb(113, 14, 206);
}
.usersPage .tableContainer{
    overflow: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255,0.8);
}
.tableContainer table{
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.tableContainer table th{
    text-align: left;
    letter-spacing: 2px;
    background-color: black;
    color: white;
    padding: 10px;
}
.tableContainer table tr td{
    text-align: left;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}
.tableContainer table tr td:last-child{
    display: flex;
}
.tableContainer table tr:nth-child(even){
    background-color: rgba(98, 98, 255,0.8);
    color: white;
}
.tableContainer table tr:nth-child(even) td a{
    margin: 10px;
    color: white;
}
.tableContainer table tr:nth-child(odd) td a{
    margin: 10px;
    color: blue;
}

@media screen and (max-width:500px){
    .usersPage{
        padding: 10px;
    }
    .tableContainer table th{
        font-size: 12px;
    }
    .tableContainer table tr td{
        font-size: 13px;
    }
}